CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
CPackSourceConfig.cmake
VersionInfo.h
CPackConfig.cmake
_deps
mosquitto-repo.gpg.key
libsndfile/
paho.mqtt.c/
paho.mqtt.cpp/
build/
remote